<mat-toolbar color="primary">
  <div>
      <button mat-icon-button (click)="onToggleSideNav()" >
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div><a routerLink="/" >Online Store</a></div>
  <div fxFlex fxLayout  fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <!-- <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
          <li *ngIf="!isAuth"><a routerLink="/register">Register</a></li>
          <li *ngIf="!isAuth"><a routerLink="/training">Training</a></li>
          <li style="cursor: pointer;" *ngIf="isAuth"><a (click)="onLogout()" >Logout</a></li> -->
          <li *ngIf="!isAuth"><a routerLink="/"><mat-icon id="shopping" >shopping_cart</mat-icon>Cart</a></li>
          <li><button mat-button [matMenuTriggerFor]="menu"
            [matBadge]="badge" matBadgeColor="warn"><mat-icon >more_vert</mat-icon> </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/login">Log In</button>
              <button mat-menu-item routerLink="/register">Register</button>
              <button mat-menu-item routerLink="/store/newProduct">Add new product</button>
              <button mat-menu-item routerLink="/store/editProduct">Edit product</button>
            </mat-menu></li>
      </ul>
  </div>
</mat-toolbar>
<br>
