<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onClose()"><mat-icon>home</mat-icon> <span class="nav-caption">Home</span></a>
    <a mat-list-item routerLink="/store" (click)="onClose()"><mat-icon>money</mat-icon> <span class="nav-caption">Store</span></a>
    <a mat-list-item routerLink="/login" (click)="onClose()"><mat-icon>input</mat-icon> <span class="nav-caption">Log In</span></a>
    <a mat-list-item routerLink="/register" (click)="onClose()"><mat-icon>face</mat-icon> <span class="nav-caption">Register</span></a>
</mat-nav-list>