<mat-form-field>
  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-table [dataSource]="dataSource" matSort>

<ng-container matColumnDef="name">
  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
</ng-container>

<ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.subtitle }} </mat-cell>
</ng-container>

<ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.price | number }} </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row (click)="onClick(row)" *matRowDef="let row; columns:displayedColumns;" class="tablerow"></mat-row>
</mat-table>